*{
	margin: 0;
	padding: 0;

}


#container{


	width  : 100%;
	height : 1000px;
	background-image  : url(satiwan.jpg);
	background-repeat : no-repeat;
	background-size: 100% 100%;
	background-position : center center;
	background-attachment : fixed;
	background-size : cover;
	font-family: Arial, Helvetica, sans-serif	;
	
}


#header{

		font-family: sans-serif;
		width: 1000px;
		font-size: 50px;
		margin: 0px auto;
		padding: 50px 50px;
		text-align: center;
		text-transform: capitalize;
		height: 300px;

}

h1{
	font-family: "impact";
	font-size: 4em;
	line-height: 200px;
	word-spacing: 2px;
}
h2,h3{
	font-family: "impact";
	font-size: 2em;
	word-spacing: 3px;
	height: 80px;
}

#section{

	
	background-color: rgba(250, 255,255,0.33);
	width: 1000px;
	height: 400px;
	margin: 40px auto;
	padding: 20px 20px;



}
#section #article{

margin: 50px auto;

}
#section #column1{

float: left;
width: 300px;
padding-right: 40px; 

}
#section #column2{

float: left;
width: 300px;

}
#section #column3{

float: right;
width: 300px;

}